*{box-sizing: border-box;}
    section.flexcontainer{
       width:80%;
       border: solid gray 5px;
       margin: 10%;
       display: flex;
       flex-direction: row;
       justify-content: space-evenly;
       flex-wrap: wrap;
    }
div.sqr{
    height:100px;
    width: 200px;
}
div.sqr:nth-child(1){background-color: brown;}
div.sqr:nth-child(2){background-color: lightpink;}
div.sqr:nth-child(3){background-color: darkslateblue;}
/* ----- card -----*/
main.maincontainer{
    background-color: aliceblue;
    width: 80%;
    margin: 10%;
    display: flex;
    justify-content: space-evenly;
}
section.card{
    width: 300px;
    height: 600px;
    box-shadow: 2px 2px 6px black;
    border-radius: 5px;
    overflow: hidden;

}
img.imgcard{
    width:100%;
    height: 80%;
}
div.cardinfo{
    background-color: brown;
    height: 50%;
    padding: 1em;
}
a.cardlink{
    display: inline-block;
    background-color: black;
    color:whitesmoke;
    padding: 1em 2em;
    width: 100%;
    text-align: center;
    transition: 300ms;
}
a.cardlink:hover{
    background-color: crimson;
    box-shadow: 0px 0px 6px 2px black;
    transform: scale(1.02);
    font-size: 1.05em;
}



